extend layout

block content
  h1
    a(href="/")= title

  h2 current token 
  p.token #{token}

  h2= subtitle

  section
    ol
      for service in services
        li
          span(class="status online-#{service.online}")
          span= service.url
          p.description= service.description