extend layout

block content
  h2 current token
  p.token #{token}

  h2= subtitle

  section
    ol
      for service in services
        li
          span= service.url
          p.description= service.description
    form(method='post', action='/service')
      input(type='text', name='token', value='#{token}')
      input(type='text', name='services', value='http://localhost:8000')
      input(type='text', name='content', value='hello world')
      button(type='submit', class='button') &#8667;
        span Create!